PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me

TURSO_ORG=replace-me
TURSO_API_TOKEN=replace-me
TURSO_GROUP=curio
TURSO_GROUP_AUTH_TOKEN=replace-me
TURSO_SCHEMA_DATABASE=curio-schema
